<!-- <ul>
  <li *ngFor="let user of users | async">
    <span>{{user | json}}</span>
  </li>
</ul> -->
<div class="container">
    <div id="lobby-users">
        <h2>Players</h2>
        <div class="lobby-player-row" *ngFor="let player of players">
            <img [src]="player.picture" />
            <span>{{player.name}}</span>
        </div>
    </div>
    <div class="container">
        Invite your friends using the following code:<br />
        <b>{{gameID}}</b>
    </div>
    <div class="container" *ngIf="players.length > 3">
        <button (click)="startGame()" md-button>Start Game</button>
    </div>
    <div *ngIf="players.length < 4">
        You need at least 4 players to start the game!<br />

    </div>
    <div>
        <button (click)="leaveGame()" md-button>Leave Game</button>
    </div>
    <div>
        <button (click)="goBack()" md-button>Go Back</button>
    </div>
</div>
