<div class="container">
    <h1>Start a New Round</h1>
        <div id="day-time-slider" class="time-slider">
            <label>
                How long is the day?
                <md-slider md-discrete min="1" max="10" [(ngModel)]="newGame.config.dayLength"></md-slider>{{newGame.config.dayLength}} minutes
            </label>
        </div>
        <div id="night-time-slider" class="time-slider">
            <label>
                How long is the night?
                <md-slider md-discrete min="1" max="10" [(ngModel)]="newGame.config.nightLength"></md-slider>{{newGame.config.nightLength}} minutes
            </label>
        </div>
        <div id="create-submit">
            <button md-button type="submit" (click)="createGame()">
                Create
            </button>
            <button md-button type="submit" (click)="goBack()">
                Back
            </button>
        </div>
</div>
