<md-sidenav-layout>
    <md-sidenav #start (open)="closeStartButton.focus()">
      <h3>{{(af.auth | async)?.facebook.displayName}}'s Journal</h3>
      <br>
      <button md-button #closeStartButton (click)="start.close()">Close</button>
      <button md-button (click)="start.close(); logout();">Logout</button>
    </md-sidenav>
    <div class="container">

    </div>
    <button *ngIf="shouldShowNav()" md-button (click)="start.open()">
        <md-icon>home</md-icon>
    </button>

        <router-outlet></router-outlet>

</md-sidenav-layout>
