.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
md-sidenav-layout {
    height: 100vh;
}

md-sidenav {
    display: flex;
    flex-direction: column;
}

.app-container {
    padding: 15;
    height: 100vh;
}

:host /deep/ div {
    font-family: 'Roboto', sans-serif;
}

:host /deep/ h2 {
    font-family: 'Roboto', sans-serif;
}